.modal_container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: var(--BLACK-LIGHT);
  display: flex;
  align-items: center;
  justify-content: center;
}

.add_friend {
  width: 23rem;
  background-color: var(--BLUE-MODAL);
  filter: brightness(92%);
  border-radius: 0.2rem;
  padding: 1rem;
  border: 0.1rem solid var(--BLUE-DARK);
  position: relative;
}

.form_group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

input {
  height: 2rem;
  width: 20rem;
  outline: none;
  text-align: center;
  background-color: var(--BLUE-MODERATE);
  border: 0.1rem solid var(--BLUE-DARK);
  border-radius: 0.2rem;
  font-size: 0.9rem;
}

.add {
  float: right;
  padding: 0.3rem;
  cursor: pointer;
  background-color: var(--BLUE-MODERATE);
  border: 0.1rem solid var(--BLUE-DARK);
  border-radius: 0.2rem;
  transition: all 0.2s ease-in-out;
}

.close {
  position: absolute;
  top: -1rem;
  right: -1rem;
  height: 2rem;
  width: 2rem;
  font-size: 1.2rem;
  background-color: var(--BLUE-LIGHT);
  border: 0.11rem solid var(--BLUE-DARK);
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close,
.add:active {
  transform: scale(96%);
}
